.blue-light {
  color: #9fdfd6; }

.blue-normal {
  color: #40bfac; }

.blue-dark {
  color: #2d8678; }

.green-light {
  color: #9fdfc5; }

.green-normal {
  color: #40bf8a; }

.green-dark {
  color: #2d8661; 
}
